{% extends "bootstrap/base.html" %}

{% block title %}Отрасли и должности{% endblock title %}

{%- block content %}
    {{super()}}

    <div class="container">
      <div class="row justify-content-center">
        <div class="btn-group-vertical col-xs-3">
          <button type="button" class="btn btn-light"><a href="{{ url_for('adminData') }}"><h1>Отрасли и должности</h1></a></button>
          <button type="button" class="btn btn-light"><a href="{{ url_for('adminData') }}"><h1>Работа с данными для решения задач</h1></a></button>
        </div>
      </div>
    </div>
{%- endblock content %}