{% extends "bootstrap/base.html" %}

{% block title %}Панель администратора{% endblock title %}

{%- block content %}
    <div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 d-inline">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Работа с данными
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" id="child1">
                        <div class="card">
                            <div class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapseOneA">Отрасли и должности</a>
                            </div>
                            <div class="card-body collapse" data-parent="#child1" id="collapseOneA">
                                <div class="card">
                                    <div class="card-header">
                                        <a href="{{ url_for('adminDataIPAdd') }}">Добавить отрасли и должности</a>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a href="{{ url_for('adminDataIndEdit') }}">Изменить отрасли</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapseOneB">Сферы деятельности</a>
                            </div>
                            <div class="card-body collapse" data-parent="#child1" id="collapseOneB">
                                <div class="card">
                                    <div class="card-header">
                                        <a href="{{ url_for('adminDataAreasAdd') }}">Добавить сферу деятельности</a>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <a href="{{ url_for('adminDataAreasEdit') }}">Изменить сферу деятельности</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0 d-inline">
                        <button class="btn btn-link">
                          <a href="{{ url_for('adminDeleteCv') }}">Удаление устаревших резюме</a>
                        </button>
                    </h5>
                </div>

                <div class="card-header" id="headingThree">
                    <h5 class="mb-0 d-inline">
                        <button class="btn btn-link">
                          <a href="{{ url_for('adminDeleteTask') }}">Удаление устаревших вакансий</a>
                        </button>
                    </h5>
                </div>

                <div class="card-header" id="headingFour">
                    <h5 class="mb-0 d-inline">
                        <button class="btn btn-link">
                          <a href="{{ url_for('adminDeleteVacancy') }}">Удаление устаревших заданий</a>
                        </button>
                    </h5>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-link"><a href="{{ (url_for('dropsession')) }}">Выйти</a></button>
    </div>
{%- endblock content %}