{% from "_render_field.html" import render_field%}
{% extends "bootstrap/base.html" %}

{% block title %}Изменить сферу деятельности{% endblock title %}

{%- block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-3">
                <form action="{{ url_for('adminDataAreasEdit') }}" method="POST">
                    {{ form.csrf_token }}

                    {{ render_field(form.areaOld)}}
                    {{ render_field(form.areaNew)}}

                    <div class="row justify-content-end form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Изменить</button>
                    </div>
                </form>

                {% if message %}
                    <p class="text-danger">{{ message }}</p>
                {% endif %}

                <div class="row justify-content-center">
                    <a href="{{ url_for('admin') }}">Назад</a><br>
                </div>

                <ul class="list-group">
                    {% for item in areas %}
                        <li class="list-group-item">{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{%- endblock content %}