{% extends "bootstrap/base.html" %}

{% block title %}Отрасли и должности{% endblock title %}

{%- block content %}
    {{super()}}

    <div class="container">
        <div class="row justify-content-center">
            <div class="btn-group-vertical col-xs-3">
                <button type="button" class="btn btn-light"><a href="{{ url_for('adminDataIPAdd') }}"><h1>Добавить отрасли и должности</h1></a></button>
                <button type="button" class="btn btn-light"><a href="{{ url_for('adminDataIndEdit') }}"><h1>Изменить отрасли</h1></a></button>
                <a href="{{ url_for('admin') }}">В меню администратора</a>
            </div>
        </div>
    </div>
{%- endblock content %}