{% extends "bootstrap/base.html" %}

{% block title %}Добавить сферу деятельности{% endblock title %}

{%- block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-3">
                <form action="{{ url_for('adminDataAreasAdd') }}" method="POST">
                    <div class="form-group">
                        <label for="login">Введите сферу деятельности:</label>
                        <input type="text" name="area" class="form-control" id="area">
                    </div>

                    <div class="row justify-content-end form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Добавить</button>
                    </div>
                </form>

                {% if message %}
                    <p class="text-danger">{{ message }}</p>
                {% endif %}

                <div class="row justify-content-center">
                    <a href="{{ url_for('adminDataIP') }}">Назад</a><br>
                </div>

                <ul class="list-group">
                    {% for item in areas %}
                        <li class="list-group-item">{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{%- endblock content %}