{% extends "bootstrap/base.html" %}

{% block title %}Панель администратора{% endblock title %}

{%- block content %}
    {{super()}}

    <div class="container">
      <div class="row justify-content-center">
        <div class="btn-group-vertical col-xs-3">
          <button type="button" class="btn btn-light"><a href="{{ url_for('adminData') }}"><h1>Работа с данными</h1></a></button>
          <button type="button" class="btn btn-light"><a href="{{ url_for('adminDeleteCv') }}"><h1>Удаление резюме</h1></a></button>
          <button type="button" class="btn btn-light"><a href="{{ url_for('adminDeleteVacancy') }}"><h1>Удаление вакансий</h1></a></button>
        </div>
      </div>
    </div>
{%- endblock content %}