{% extends "bootstrap/base.html" %}

{% block title %}Работа с данными{% endblock title %}

{%- block content %}
    {{super()}}

    <div class="container">
      <div class="row justify-content-center">
        <div class="btn-group-vertical col-xs-3">
          <button type="button" class="btn btn-light"><a href="{{ url_for('adminDataIP') }}"><h1>Отрасли и должности</h1></a></button>
          <button type="button" class="btn btn-light"><a href="{{ url_for('adminDataAreas') }}"><h1>Сферы деятельности</h1></a></button>
        </div>
      </div>
    </div>
{%- endblock content %}