{% from "_render_field.html" import render_field%}
{% extends "bootstrap/base.html" %}

{% block title %}Добавление записи{% endblock title %}

{%- block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ (url_for('profile', status=status, username=username)) }}">
                            {% if status == 'company' %}
                                О компании
                            {% elif status == 'employee' %}
                                О соискателе
                            {% elif status == 'customer' %}
                                О заказчике
                            {% endif %}
                        </a>
                    </li>

                    {% if not warning %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ (url_for('createItem', status=status, username=username)) }}">
                                {% if status == 'company' %}
                                    Добавить вакансию
                                {% elif status == 'employee' %}
                                    Добавить резюме
                                {% elif status == 'customer' %}
                                    Добавить задание
                                {% endif %}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ (url_for('itemList', status=status, username=username)) }}">
                                {% if status == 'company' %}
                                    Мои вакансии
                                {% elif status == 'employee' %}
                                    Мои резюме
                                {% elif status == 'customer' %}
                                    Мои задания
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        {{% if status == 'company' %}
                           <a class="nav-link" href="{{ (url_for('cvCatInd', username=username, status=status)) }}">Каталог резюме</a>
                        {% endif %}
                        {% if status == 'employee' %}
                           <a class="nav-link" href="{{ (url_for('vacCatInd', username=username, status=status)) }}">Каталог вакансий</a>
                        {% endif %}
                        {% if status == 'performer' %}
                           <a class="nav-link" href="{{ (url_for('taskCatAreas', username=username, status=status)) }}">Каталог заданий</a>
                        {% endif %}
                    </li>
                </ul>

                <button type="button" class="btn btn-primary"><a href="{{ (url_for('dropsession')) }}" class="text-white">Выйти</a></button>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <form action="{{ url_for('createItem', status=status, username=username) }}" method="POST">
                    {% if status == 'company' %}
                        {{ formCompany.csrf_token }}
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                {{ render_field(formCompany.industryName)}}
                            </div>

                            <div class="col-sm-6">
                                {{ render_field(formCompany.professionName)}}
                            </div>
                        </div>

                        {{ render_field(formCompany.employeeSex)}}

                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                {{ render_field(formCompany.minEmpAge)}}
                            </div>

                            <div class="col-sm-6">
                                {{ render_field(formCompany.maxEmpAge)}}
                            </div>
                        </div>

                        {{ render_field(formCompany.minSalary)}}
                        {{ render_field(formCompany.minExp)}}
                        {{ render_field(formCompany.empType)}}
                    {% endif %}

                    {% if status == 'employee' %}
                        {{ formEmployee.csrf_token }}
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                {{ render_field(formEmployee.industryName)}}
                            </div>

                            <div class="col-sm-6">
                                {{ render_field(formEmployee.professionName)}}
                            </div>
                        </div>

                        {{ render_field(formEmployee.minSalary)}}
                        {{ render_field(formEmployee.maxSalary)}}
                        {{ render_field(formEmployee.exp)}}
                        {{ render_field(formEmployee.empType)}}
                    {% endif %}

                    {% if status == 'customer' %}
                        {{ formCustomer.csrf_token }}
                        {{ render_field(formCustomer.areaName)}}
                        {{ render_field(formCustomer.taskDescr)}}
                        {{ render_field(formCustomer.dateInput)}}
                        {{ render_field(formCustomer.price)}}
                    {% endif %}

                    <div class="row justify-content-end form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Опубликовать</button>
                    </div>
                </form>

                <p>Поля, отмеченные * должны быть заполнены обязательно</p>

                {% if message %}
                    <p class="text-danger">{{ message }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{%- endblock content %}