{% extends "bootstrap/base.html" %}

{% block title %}Каталог резюме{% endblock title %}

{%- block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ (url_for('cvCatInd', username=username)) }}">К списку отраслей</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1>Каталог резюме</h1>
        </div>
        {% for item in data %}
            <div class="row">
                <div class="col-xs-3">
                    <p><a href="{{ url_for('cvCatList', username=username, professionURL=item[2], industryURL=industryURL) }}">{{ item[0] }}</a> {{ item[1] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{%- endblock content %}