{% extends "bootstrap/base.html" %}

{% block title %}Добро пожаловать на сайт{% endblock title %}

{%- block content %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                      <a href="{{ url_for('login') }}">Войти</a>
                    </button>
                </h5>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                      <a href="{{ url_for('signUp') }}">Зарегистрироваться</a>
                    </button>
                </h5>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Продолжить как гость
                    </button>
                </h5>
            </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">

                <div class="card-body">
                    <div class="btn-group-vertical">
                        <h5 class="mb-0">
                            <button class="btn btn-link"><a href="{{ url_for('vacCatInd') }}">Каталог вакансий</a></button>
                        </h5>

                        <h5 class="mb-0">
                            <button class="btn btn-link"><a href="{{ url_for('taskCatAreas') }}">Каталог заданий</a></button>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock content %}