{% extends "bootstrap/base.html" %}

{% block title %}Мои записи{% endblock title %}

{%- block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ (url_for('profile', status=status, username=username)) }}">
                        {% if status == 'company' %}
                            О компании
                        {% elif status == 'employee' %}
                            О соискателе
                        {% elif status == 'customer' %}
                            О заказчике
                        {% elif status == 'performer' %}
                            О исполнителе
                        {% endif %}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ (url_for('createItem', status=status, username=username)) }}">
                        {% if status == 'company' %}
                            Добавить вакансию
                        {% elif status == 'employee' %}
                            Добавить резюме
                        {% elif status == 'customer' %}
                            Добавить задание
                        {% endif %}
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ (url_for('itemList', status=status, username=username)) }}">
                        {% if status == 'company' %}
                            Мои вакансии
                        {% elif status == 'employee' %}
                            Мои резюме
                        {% elif status == 'customer' %}
                            Мои задания
                        {% endif %}
                    <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    {% if status == 'company' %}
                       <a class="nav-link" href="{{ (url_for('cvCatInd', username=username, status=status)) }}">Каталог резюме</a>
                    {% endif %}
                    {% if status == 'employee' %}
                       <a class="nav-link" href="{{ (url_for('vacCatInd', username=username, status=status)) }}">Каталог вакансий</a>
                    {% endif %}
                    {% if status == 'performer' %}
                       <a class="nav-link" href="{{ (url_for('taskCatAreas', username=username, status=status)) }}">Каталог заданий</a>
                    {% endif %}
                </li>
            </ul>

            <button type="button" class="btn btn-primary"><a href="{{ (url_for('dropsession')) }}" class="text-white">Выйти</a></button>
        </div>
    </div>
</nav>

    <div class="container">
        <div class="row">
                {% if status == 'company' %}
                    {% for item in vacancyInfo %}
                        <div class="col-lg-5">
                            <div class="card"">
                                <div class="card-body">
                                    <p><strong>Отрасль: </strong>{{ item[1] }}</p>
                                    <p><strong>Должность: </strong>{{ item[2] }}</p>

                                    {% if item[3] is not none %}
                                        <p><strong>Пол соискателя: </strong>{{ item[3] }}</p>
                                    {% endif %}

                                    <p><strong>Минимальный возраст соискателя: </strong>{{ item[4] }}</p>

                                    {% if item[5] is not none %}
                                        <p><strong>Максимальный возраст соискателя: </strong>{{ item[5] }}</p>
                                    {% endif %}

                                    <p><strong>Минимальная заработная плата: </strong>{{ item[6] }} руб.</p>
                                    <p><strong>Минимальный опыт работы (лет): </strong>{{ item[7] }}</p>
                                    <p><strong>Тип занятости: </strong>{{ item[8] }}</p>
                                    <p><strong>Дата публикации: </strong>{{ item[9] }}</p>

                                    <form action="{{ url_for('editItem', status=status, username=username, itemid=item[0]) }}" method="GET">
                                        <button type="submit" class="btn btn-primary">Редактировать</button>
                                    </form>

                                    <form action="{{ url_for('deleteItem', status=status, username=username, itemid=item[0]) }}" method="POST">
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if status == 'employee' %}
                    {% for item in cvInfo %}
                        <div class="col-lg-5">
                            <div class="card"">
                                <div class="card-body">
                                    <p><strong>Отрасль: </strong>{{ item[1] }}</p>
                                    <p><strong>Должность: </strong>{{ item[2] }}</p>

                                    {% if item[3] %}
                                        <p><strong>Заработная плата от: </strong>{{ item[3] }}</p>
                                    {% endif %}

                                    {% if item[4] %}
                                        <p><strong>Заработная плата до: </strong>{{ item[4] }}</p>
                                    {% endif %}

                                    <p><strong>Опыт работы (лет): </strong>{{ item[5] }}</p>
                                    <p><strong>Тип занятости: </strong>{{ item[6] }}</p>
                                    <p><strong>Дата публикации: </strong>{{ item[7] }}</p>
                                    <p class="font-weight-bold text-secondary">Просмотры: {{ item[8] }}</p>

                                    <form action="{{ url_for('editItem', status=status, username=username, itemid=item[0]) }}" method="GET">
                                        <button type="submit" class="btn btn-primary">Редактировать</button>
                                    </form>

                                    <form action="{{ url_for('deleteItem', status=status, username=username, itemid=item[0]) }}" method="POST">
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if status == 'customer' %}
                    {% for item in taskInfo %}
                        <div class="col-lg-5">
                            <div class="card"">
                                <div class="card-body">
                                    <p><strong>Сфера деятельности: </strong>{{ item[1] }}</p>
                                    <p><strong>Описание задания: </strong>{{ item[2] }}</p>
                                    <p><strong>Дата выполнения задания: </strong>{{ item[3] }}</p>
                                    <p><strong>Стоимость выполнения: </strong>{{ item[4] }} руб.</p>

                                    <form action="{{ url_for('editItem', status=status, username=username, itemid=item[0]) }}" method="GET">
                                        <button type="submit" class="btn btn-primary">Редактировать</button>
                                    </form>

                                    <form action="{{ url_for('deleteItem', status=status, username=username, itemid=item[0]) }}" method="POST">
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
    </div>
{%- endblock content %}