{% extends "bootstrap/base.html" %}

{% block title %}Авторизация{% endblock title %}

{%- block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-3">
                <form action="{{ url_for('login') }}" method="POST">
                    {{ form.csrf_token }}

                    <div class="form-group">
                        <label for="login">Login</label>
                        {{ form.username }}
                    </div>

                    <ul>
                        {% for error in form.username.errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>

                    <div class="form-group">
                        <label for="password">Password</label>
                        {{ form.password }}
                    </div>

                    <ul>
                        {% for error in form.password.errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>

                    <div class="row justify-content-end form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Войти</button>
                    </div>
                </form>

                <a href="{{ url_for('pwRec') }}">Забыли пароль?</a><br>
                <a href="{{ url_for('signUp') }}">Зарегистрироваться</a>
            </div>
        </div>
    </div>
{%- endblock content %}