{% extends "bootstrap/base.html" %}

{% block title %}Редактирование профиля{% endblock title %}

{%- block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-3">
                <form action="{{ url_for('profileEdit', status=status, username=username) }}" method="POST">
                    {% if status == 'company' %}
                        <div class="form-group">
                            <label for="login">ИНН:</label>
                            <input type="text" name="inn" class="form-control" id="inn">
                        </div>

                        <div class="form-group">
                            <label for="password">Название фирмы:</label>
                            <input type="text" name="company_name" class="form-control" id="company_name">
                        </div>

                        <div class="form-group">
                            <label for="password">Телефон фирмы:</label>
                            <input type="text" name="company_phone" class="form-control" id="phone">
                        </div>

                        <div class="form-group">
                            <label for="password">e-mail фирмы:</label>
                            <input type="email" name="company_email" class="form-control" id="company_email">
                        </div>
                    {% endif %}

                    {% if status == 'employee' %}
                        <div class="form-group">
                            <label for="login">ФИО:</label>
                            <input type="text" name="full_name" class="form-control" id="inn">
                        </div>

                        <div class="form-group">
                            <label for="password">Телефон:</label>
                            <input type="text" name="employee_phone" class="form-control" id="phone">
                        </div>

                        <div class="form-group">
                            <label for="password">e-mail:</label>
                            <input type="email" name="employee_email" class="form-control" id="employee_email">
                        </div>
                    {% endif %}

                    {% if status == 'customer' %}
                        <div class="form-group">
                            <label for="login">Имя:</label>
                            <input type="text" name="customer_name" class="form-control" id="customer_name">
                        </div>

                        <div class="form-group">
                            <label for="password">Телефон:</label>
                            <input type="text" name="customer_phone" class="form-control" id="phone">
                        </div>

                        <div class="form-group">
                            <label for="password">e-mail:</label>
                            <input type="email" name="customer_email" class="form-control" id="customer_email">
                        </div>
                    {% endif %}

                    {% if status == 'performer' %}
                        <div class="form-group">
                            <label for="login">Имя:</label>
                            <input type="text" name="performer_name" class="form-control" id="performer_name">
                        </div>

                        <select class="custom-select" id="inputGroupSelect01" name="performer_area">
                            <option selected value="" disabled>Выберите сферу деятельности</option>

                            {% for item in areas %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>

                        <div class="form-group">
                            <label for="password">О своей деятельности::</label>
                            <input type="text" name="services_descr" class="form-control" id="services_descr">
                        </div>

                        <div class="form-group">
                            <label for="password">Телефон:</label>
                            <input type="text" name="performer_phone" class="form-control" id="phone">
                        </div>

                        <div class="form-group">
                            <label for="password">e-mail:</label>
                            <input type="email" name="performer_email" class="form-control" id="customer_email">
                        </div>
                    {% endif %}

                    <div class="row justify-content-end form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Сохранить</button>
                    </div>
                </form>

                {% if message %}
                    <p class="text-danger">{{ message }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{%- endblock content %}