{% extends "bootstrap/base.html" %}

{% block title %}Личный кабинет{% endblock title %}

{%- block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ (url_for('profile', status=status, username=username)) }}">
                            {% if status == 'company' %}
                                О компании
                            {% elif status == 'employee' %}
                                О соискателе
                            {% elif status == 'customer' %}
                                О заказчике
                            {% elif status == 'performer' %}
                                О исполнителе
                            {% endif %}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    {% if not warning %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ (url_for('createItem', status=status, username=username)) }}">
                                {% if status == 'company' %}
                                    Добавить вакансию
                                {% elif status == 'employee' %}
                                    Добавить резюме
                                {% elif status == 'customer' %}
                                    Добавить задание
                                {% endif %}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ (url_for('itemList', status=status, username=username)) }}">
                                {% if status == 'company' %}
                                    Мои вакансии
                                {% elif status == 'employee' %}
                                    Мои резюме
                                {% elif status == 'customer' %}
                                    Мои задания
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        {% if status == 'company' %}
                           <a class="nav-link" href="{{ (url_for('cvCatInd', username=username)) }}">Каталог резюме</a>
                        {% endif %}
                        {% if status == 'employee' %}
                           <a class="nav-link" href="{{ (url_for('vacCatInd')) }}">Каталог вакансий</a>
                        {% endif %}
                        {% if status == 'customer' %}
                           <a class="nav-link" href="{{ (url_for('perfCatAreas', username=username)) }}">Каталог исполнителей</a>
                        {% endif %}
                        {% if status == 'performer' %}
                           <a class="nav-link" href="{{ (url_for('taskCatAreas')) }}">Каталог заданий</a>
                        {% endif %}
                    </li>
                </ul>

                <button type="button" class="btn btn-primary"><a href="{{ (url_for('dropsession')) }}" class="text-white">Выйти</a></button>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-3 align-self-center form-group">
                {% if status == 'company' %}
                    <p><strong>ИНН: </strong>{{ inn }}</p>
                    <p><strong>Название фирмы: </strong>{{ companyName }}</p>
                    <p><strong>Телефон фирмы: </strong>{{ companyPhone }}</p>
                    <p><strong>e-mail фирмы: </strong>{{ companyEmail }}</p>
                {% endif %}

                {% if status == 'employee' %}
                    <p><strong>ФИО: </strong>{{ fullName }}</p>
                    <p><strong>Телефон: </strong>{{ employeePhone }}</p>
                    <p><strong>e-mail: </strong>{{ employeeEmail }}</p>
                {% endif %}

                {% if status == 'customer' %}
                    <p><strong>Имя: </strong>{{ customerName }}</p>
                    <p><strong>Телефон: </strong>{{ customerPhone }}</p>
                    <p><strong>e-mail: </strong>{{ customerEmail }}</p>
                {% endif %}

                {% if status == 'performer' %}
                    <p><strong>Имя: </strong>{{ performerName }}</p>
                    <p><strong>Сфера деятельности: </strong>{{ performerArea }}</p>
                    <p><strong>О своей деятельности: </strong>{{ servicesDescr }}</p>
                    <p><strong>Телефон: </strong>{{ performerPhone }}</p>
                    <p><strong>e-mail: </strong>{{ performerEmail }}</p>
                {% endif %}

                <button type="submit" class="btn btn-primary"><a href="{{ (url_for('profileEdit', status=status, username=username)) }}" class="text-white">Редактировать</a></button>

                {% if warning %}
                    {% if status == 'company' %}
                        <p class="text-danger">Заполните информацию о компании полностью, чтобы размещать и просматривать свои вакансии</p>
                    {% elif status == 'employee' %}
                        <p class="text-danger">Введите свое ФИО, чтобы размещать и просматривать свои резюме</p>
                    {% elif status == 'customer' %}
                        <p class="text-danger">Введите свое имя, чтобы размещать и просматривать свои задания</p>
                    {% elif status == 'performer' %}
                        <p class="text-danger">Заполните информацию о себе полностью, чтобы иметь возможность получать предложения от заказчиков</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{%- endblock content %}