{% extends "bootstrap/base.html" %}

{% block title %}Каталог вакансий{% endblock title %}

{%- block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ (url_for('vacCatInd', username=username, status=status)) }}">К списку отраслей</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ (url_for('vacCatPro', username=username, status=status, industryURL=industryURL )) }}">К списку должностей</a>
                    </li>
                </ul>
            </div>

            <button type="button" class="btn btn-primary">
                {% if username == 'guest' %}
                    <a href="{{ (url_for('index')) }}" class="text-white">На главную</a>
                {% else %}
                    <a href="{{ (url_for('profile', username=username, status=status)) }}" class="text-white">Вернуться в личный кабинет</a>
                {% endif %}
            </button>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1>Каталог вакансий</h1>
        </div>
        <div class="row">
            {% for item in vacancyInfo %}
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <p><strong>Отрасль: </strong>{{ item[1] }}</p>
                            <p><strong>Должность: </strong>{{ item[2] }}</p>

                            {% if item[3] %}
                                <p><strong>Пол соискателя: </strong>{{ item[3] }}</p>
                            {% endif %}

                            <p><strong>Минимальный возраст соискателя: </strong>{{ item[4] }}</p>

                            {% if item[5] is not none %}
                                <p><strong>Максимальный возраст соискателя: </strong>{{ item[5] }}</p>
                            {% endif %}

                            <p><strong>Минимальная заработная плата: </strong>{{ item[6] }} руб.</p>
                            <p><strong>Минимальный опыт работы (лет): </strong>{{ item[7] }}</p>
                            <p><strong>Тип занятости: </strong>{{ item[8] }}</p>
                            <p><strong>Дата публикации: </strong>{{ item[9] }}</p>

                            <form action="{{ url_for('vacCatItem', itemid=item[0], industryURL=industryURL, professionURL=professionURL, status=status, username=username) }}" method="POST">
                                <button type="submit" class="btn btn-primary">Смотреть далее</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{%- endblock content %}